
@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "tailwindcss-primeui";
.center-container {
  width: 70%;
  margin: 3rem auto;
}
.p-megamenu-item:not(.p-disabled) > .p-megamenu-item-content:hover {
  border-radius: 12px;
}
.p-megamenu-overlay {
    margin-top: 1rem;
}
:root {
    /* Cores personalizadas */
    --p-primary-color: #009739;     
    --p-green-500: #009739;
    --yellow-500: #FED700;
    --blue-500: #002776;
    --white: #FFFFFF;
  
    /* Sobrescreva as cores padrão do PrimeVue */
    --primary-500: var(--green-500);
    --primary-600: #007a2f; /* Tom mais escuro de verde */
    --primary-700: #005c25; /* Tom ainda mais escuro de verde */
    --primary-color: var(--primary-500);
    --primary-color-text: var(--white);
  
    /* Outras cores personalizadas */
    --highlight-bg: var(--yellow-500);
    --highlight-text-color: var(--blue-500);
  }
@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Regular.woff2') format('woff2'),
         url('@/assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Medium.woff2') format('woff2'),
         url('@/assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
         url('@/assets/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Bold.woff2') format('woff2'),
         url('@/assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Aplicando a fonte Poppins globalmente */
  body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
  }